@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
   margin: 0;
   padding: 0;
   scroll-behavior: smooth;
   box-sizing: border-box;
}

body {
   background-color: rgb(247, 246, 254);
   overflow-x: hidden;
   width: 100vw;
   height: 100vh;
   color: #131315;
   font-family: "Poppins", sans-serif;
}

.header {
   padding-top: 2vh;
   height: 100vh;
   width: 100vw;
   background-image: url("../../Assets/Images/UserSide/Home-Bg.svg");
   background-position: center center;
   background-repeat: no-repeat;
   background-size: cover;
   color: white;
}

.header .box {
   height: 100vh;
   width: 100vw;
   position: absolute;
   z-index: 0;
   top: 0;
   background: linear-gradient(90deg, rgba(15, 21, 79, 0.7) 30%, transparent 100%);
}

.header .nav {
   top: 0;
   height: 8vh;
   width: 80vw;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
   padding: 1vh 2vw;
   padding-top: 2vh;
   margin: auto;
   z-index: 10;
   position: relative;
}

.nav .logo-links {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   flex-direction: row;
   gap: 4vw;
}

.logo-links img {
   height: 6vh;
   cursor: pointer;
}

.logo-links .links {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   flex-direction: row;
   gap: 2vw;
}

.logo-links a {
   all: unset;
   font-size: 15px;
   font-weight: 600;
   color: #fff;
   cursor: pointer;
}

.nav .Social-CTA {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   flex-direction: row;
   gap: 2vw;
}

.Social-CTA .Social {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   flex-direction: row;
   gap: 1vw;
}

.Social img {
   height: 2vh;
   cursor: pointer;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   flex-direction: row;
}

.Social .CTA {
   all: unset;
}

.CTA a {
   color: #fff;
   text-decoration: none;
   padding: 1vh 1.25vw;
   border: 1px solid white;
   border-radius: 1vh;
   font-weight: 500;
   cursor: pointer;
}

.CTA a:hover {
   color: #000;
   font-weight: 600;
   background-color: #fff;
   transition: 1s;
}

.header .content {
   height: fit-content;
   width: 80vw;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: start;
   flex-wrap: wrap;
   padding: 2vh 2vw;
   margin: auto;
   top: 10%;
   z-index: 10;
   position: relative;
   gap: 8vh;
}

.content .welcome {
   font-size: 15px;
   font-weight: 800px;
   text-transform: uppercase;
   letter-spacing: 2px;
}

.content .heading {
   width: 70%;
   height: fit-content;
   font-size: 64px;
   letter-spacing: 2px;
   font-weight: bold;
}

.content .subText {
   width: 50%;
   height: fit-content;
   font-size: 16px;
   font-weight: 500;
   text-wrap: wrap;
}

.content .exploreMore {
   width: fit-content;
   height: fit-content;
   font-size: 16px;
   font-weight: 500;
   text-wrap: wrap;
   padding: 15px 23px;
   border: none;
   background-color: white;
   color: #131315;
   border-radius: 1vh;
   letter-spacing: 1.2px;

   &:hover {
      border: 1.3px solid white;
      background-color: transparent;
      color: white;
      border-radius: 1vh;
      letter-spacing: 1.2px;
      transition: 0.3s;
   }
}